<html>
<head>
<title>蜘蛛侠：英雄归来</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	img{width:100%;}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices .psd) -->
<table id="__01" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="images/event_zzxyxgl_01.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_02.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_03.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_04.jpg"   alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_05.jpg" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_06.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_07.jpg"  alt="" onclick="postStr(5387503);"></td>
	</tr>
	<tr>
		<td>
			<img src="images/event_zzxyxgl_08.jpg"  alt=""></td>
	</tr>

</table>
<!-- End Save for Web Slices -->
</body>
</html>
<script type="text/javascript" src="js/terminal.js"></script>