<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>约红人常见问题</title>
</head>
<body>
<p>
    <br/>
</p>
<h2>
    红人介绍
</h2>
<p>
    <strong>一、红人</strong>
</p>
<p>
    社交，电影方面人气用户、网红可申请成为约我红人。
</p>
<p>
    <strong>二、平台定义</strong>
</p>
<p>
    “约我”基于“电影+社交”拉近用户之间关系，在平台引导用户与红人近一步发展。
</p>
<p>
    <strong>三、身份特点</strong>
</p>
<p>
    快速找到有共同兴趣的小伙伴；通过红人的魅力获取佣金；兴趣交友，兼职赚钱两不误。
</p>
<p>
    <strong>四、申请红人资质</strong>
</p>
<p>
    【我的】-【认证红人】，根据系统提示要求上传相关信息，等待约我官方审核，1-3个工作日告知审核结果。
</p>
<h2>
    1对1付费视频聊天介绍
</h2>
<p>
    <strong>一、视频聊天</strong>
</p>
<p>
    约我平台官方约红人功能为约我用户提供视频聊天服务，拉近用户之间的关系。
</p>
<p>
    <strong>二、开通视频聊天</strong>
</p>
<p>
    为了维护用户安全及平台运营环境，需要各位用户主动开通视频聊天功能，等待约我官方审核，1-3个工作日告知审核结果。
</p>
<h2>
    接单介绍
</h2>
<p>
    <strong>一、红人竞拍</strong>
</p>
<p>
    用户申请成为约我红人并审核通过后，可发起约会竞拍。其他用户可通过参与竞拍获得与约会的机会，价高者得。拍卖所得收益平台将收取2成用于服务维护。
</p>
<p>
    <strong>二、视频聊天</strong>
</p>
<p>
    用户开通视频聊天并审核通过后，其他用户可向发起付费视频。聊天所得收益平台将收取5成用于服务维护。
</p>
<h2>
    赴约者权益
</h2>
<p>
    <strong>一、线下接单遇到特殊情况，怎么办？</strong>
</p>
<p>
    当发生下述情况时，我们支持您采取【立即严肃呵斥并保留相关证明，终止履约】，并拨打客服电话要求官方接入调解等一系列行为进行自我保护，我们将最大成都维护您的权益。
</p>
<p>
    a．用户强行要求订单外的服务且沟通无效。
</p>
<p>
    b．用户有猥亵、骚扰类的非正常肢体接触行为且沟通无效。
</p>
<p>
    c．用户严重醉酒，精神不稳定，暴力倾向等有危险性且不可控的状态。
</p>
<p>
    d．用户放鸽子且无法和红人取得联系。
</p>
<p>
    <strong>二、如果在约我上，有人发骚扰信息给我怎么办？</strong>
</p>
<p>
    a. 立即举报
</p>
<p>
    b. 将骚扰信息截图并点击此人头像，选择右上角举报。选择举报原因上传举证截图后点击提交。
</p>
<p>
    C. 一旦举报信息核实，我们将对被举报人进行严惩。
</p>
<h2>
    赴约者规则
</h2>
<p>
    <strong>一、职责规范</strong>
</p>
<p>
    1. 不得迟到早退，无故单方提前终止订单
</p>
<p>
    2. 到场后，主动联系客户，并主动打招呼，做自我介绍，引导用户开始进行陪玩
</p>
<p>
    3. 接单过程中需保持礼仪性微笑，和客户保持礼貌交流
</p>
<p>
    4. 不随意离开位置，如有需要（如洗手间或抽烟）须征得客户同意
</p>
<p>
    5. 接单过程中，如有其他朋友在同一场景，须制止朋友随意进出、干扰，影响客户体验
</p>
<p>
    6. 多人接单时，请勿私下交头接耳，孤立、疏远、冷落客户
</p>
<p>
    7. 约会时注意个人情绪，保持心态平和，不粗口、抱怨，更不得辱骂客户
</p>
<p>
    8. 不利用约会时间处理私人业务，如携带朋友、宠物对用户造成干扰
</p>
<p>
    9. 订单完成后须表示感谢及等待他的下次约单，目送客户离场
</p>
<p>
    10. 不得以任何理由（车费、网费、小费、陪玩费、吃饭等）向用户索要/收取现金、转账
</p>
<p>
    11. 客户主动要求额外给的，请用户使用下单或打赏支付
</p>
<p>
    12. 不得对用户进行任何形式的侮辱、纠缠、骚扰、威胁、攻击
</p>
<p>
    <strong>二、 用户名规范</strong>
</p>
<p>
    1. 头像规范
</p>
<p>
    a．清晰易辨识
</p>
<p>
    b．某些特定品类的红人需要使用本人近期正面无遮挡的照片
</p>
<p>
    2. 用户名规范
</p>
<p>
    a．请勿使用表情、图标、颜文字作为用户名，方便用户搜索
</p>
<p>
    b．用户名长度在12个汉字以内
</p>
<p>
    <strong>三、约我头像&amp;用户名名中具体有哪些信息不能使用？怎么理解是否是干扰约我运营秩序的信息？</strong>
</p>
<p>
    1. 根据国家相关规定，约玩喵头像&amp;用户名不得包含一下信息：
</p>
<p>
    a．同中华人民共和国的国家名称、国旗、国徽、军旗、勋章相同或者近似的，以及同中央国家机关所在地特定地点的名称或者标志性建筑物的名称、图形相同
</p>
<p>
    b．同外国的国家名称、国旗、国徽、军旗相同或近似的，但该国政府同意的除外
</p>
<p>
    c．同政府间国际组织的旗帜、徽记、名称相同或者近似，但经该组织同意或者不易误导公众的除外
</p>
<p>
    d．与表明实施控制、予以保证的官方标志、检验印记相同或者近似的，但经授权的除外
</p>
<p>
    e．同“红十字”、“红新月”的标志、名称相同或者近似
</p>
<p>
    f．同第三方标志相同或者近似，如：中国电信、中国联通、中国移动、中国邮政、中国网通和中国铁通等
</p>
<p>
    g．带有民族歧视性
</p>
<p>
    h．夸大宣传并带有欺骗性
</p>
<p>
    i．有害于社会主义道德风尚或者有其他不良影响
</p>
<p>
    j．使用特使/无意义的字符
</p>
<p>
    k．带有种族歧视、仇恨、性和淫秽信息的语言
</p>
<p>
    l．带有二维码、广告、网址等内容
</p>
<p>
    m．违背公序良俗的不良信息或令人反感的信息
</p>
<p>
    n．含有不真实内容或者误导消费者的内容
</p>
<p>
    o．其他涉嫌违反法律法规的内容
</p>
<p>
    2. 约我头像&amp;用户名中不得包含干扰约我运营秩序的信息，包括但不限于一下情形
</p>
<p>
    a．头像&amp;用户名中，包含未经约我授权、许可使用的名称、标识或其他信息。如：含有“约我特许”、“约我”等代表约我特殊含义的词
</p>
<p>
    b．其他约我禁止使用的信息
</p>
<h2>
    费用结算
</h2>
<p>
    <strong>一、约我如何结算费用</strong>
</p>
<p>
    1、视频聊天即时结算
</p>
<p>
    2、约红人用户进行评价或30天后结算，统一结算到钱包
</p>
</body>
</html>