<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竞拍网红服务协议</title>
</head>
<body>
<p style="margin-bottom:13px;text-align:center;vertical-align:baseline">
    <strong><span style="font-size:20px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">一、「约我」介绍</span></strong>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">「竞拍网红」是什么？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">买东西上淘宝，找网红上「约我」。</span>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">「约我」致力于用分享经济的理念让每个人都可以约到自己心仪的网红。<br/> 平台三大特点： 线上竞拍，线下服务：线上参与竞拍红人时间，线下面对面约会。<br/> <strong>网红来自哪里？</strong></span>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">「约我」的网红都需要进行视频认证，经过工作人员审核认为其符合资格则可以成为网红；除此以外，他们还有分享的热情，以及良好的沟通能力。<br/> 目前「约我」的每位网红都经过约我审核，确保身份真实。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">为何约会必须付费？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">我们提倡真实社交，付费是用户对于网红所付出的时间表示尊重。用户竞拍结束后3天，约会费用将转入网红账户，网红可随时支取。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">约会在什么情况下会被自动取消？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">如果用户约我家竞拍后的24小时内未能完成支付，则约会申请将被自动取消。</span>
</p>
<p style="margin-bottom:13px;text-align:center;vertical-align:baseline">
    <strong><span style="font-size:20px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">二、我是用户</span></strong>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">如何使用「约我」？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">注册：用户验证自己的手机号码，并填写个人介绍；<br/> 竞拍：找到自己想约会的网红并参与其发起的竞拍，价高者得；</span>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">选择约会时间地点：网红接受约会后，会给出1-3个时间和地点选项，请用户在其中选择，如果用户因故不能从中选择，也可与网红协商；<br/> <br/> 约会完成后，用户会标注已见过，如24小时用户无异议则，则表示用户认可已经见过，用户可以对网红做出评价。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">用户能否取消约会？</span></strong>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">如需退款请提前3天联系工作人员，我们将协助您进行退款处理。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红会拒绝用户的约会吗？</span></strong>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红可以拒绝用户的约会。网红的时间和精力有限，因此会根据用户的问题选择是否见面。如需退款请提前3天联系工作人员，我们将协助您进行退款处理。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">见面的时间地点如何选择？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">网红在确认接受约会前，会提供几个时间和地点的选项，请用户在其中选择。用户也可以与网红进行协商。我们建议双方约会在咖啡馆，相对比较安全和安静。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">用户可以变更见面的时间、地点吗？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">可以，用户在见面前24小时以上通知网红，双方协商一致，可以变更见面的时间、地点。<br/> 但见面前24小时以内变更见面时间，会影响网红的日程安排，因此除非网红同意，不能变更时间。即双方仍需要按照之前约定的时间地点见面。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">可以带朋友和家人一起参加约会吗？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">平台上的未标注为组团、群课、多人、亲子的约会皆默认为一对一的约会形式。为了保证约会质量与个人权益，非上述特殊标注的约会不支持多人参与。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">见面迟到怎么办？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">如果其中一方见面迟到，在不影响对方后续安排的情况下，面谈时间顺延。<br/> 如果迟到时间大于30分钟，则视为原计划约会已经完成。（双方协商一致的以协商结果为最终结果）</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">见面时可以录音录像么？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">在约会的过程中，任一方如需录音、录像或采取其他方式记录约会经过，必须在取得对方同意后方可进行。（任何未经对方许可的记录行为，不能作为后期发起投诉的证据证明，且不知情方以及约我平台保留对侵权方追究法律责任的权利。）</span>
</p>
<p style="margin-bottom:13px;text-align:center;vertical-align:baseline">
    <strong><span style="font-size:20px;font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">三、我是网红</span></strong>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红如何发起竞拍</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">用户在通过审核后，可以在首页发起约会竞拍。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红可以为约会定价吗？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">价格高低并不代表网红资历高低，而是用户对网红的认可。<br/> 网红需要在约我整体发起竞拍时自行设置起拍价格。目前，约我约会客单价平均300元左右，用户普遍能接受的竞拍价格在 200-500 元/次（小时）之间。因此，建议您将约会价格设定在这一区间内更有利于获得约会机会。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">见面的地点和时间如何选择？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">网红可以选择自己方便的地点和时间，如办公室或公司附近的咖啡馆，下班后或周末。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红能否取消约会？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">网红在见面72小时前随时可以取消约会，但需通知「约我」客服，网红取消不能得到该用户支付的任何款项；网红在见面前24小时内要求取消约会，信用记录受损。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">网红可以变更约会时间、地点吗？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">可以，网红可以在见面前24小时以上通知用户，双方协商一致，可以变更见面的时间、地点。但见面前24小时以内，变更见面时间，会影响用户的日程安排，因此除非用户同意，不能变更时间、地点，用户可以要求取消约会并获得退款。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">每次约会大约多长时间？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">我们的建议时长为1-1.5小时，但具体以每位网红主页面给出的约会时长为准。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">约会一方迟到怎么办？</span></strong>
</p>
<p style="line-height:22px;vertical-align:baseline">
    <span style=";font-family: &#39;微软雅黑&#39;,sans-serif;color:#343434">无论是用户还是网红，如果其中一方迟到时间较长，影响对方后续的行程安排，建议与对方协商改约其他时间。</span>
</p>
<p style="margin: 0 10px 12px;vertical-align: baseline">
    <strong><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">如何申请成为网红？</span></strong>
</p>
<p class="MsoListParagraph" style="margin-left:24px;line-height:22px;vertical-align:baseline">
    <span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">1.<span style="font-variant-numeric: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">在APP的“我的”-“我要赴约”，进行认证；</span>
</p>
<p class="MsoListParagraph" style="margin-left:24px;line-height:22px;vertical-align:baseline">
    <span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">2.<span style="font-variant-numeric: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">一般3个工作日内会收到审核反馈；</span>
</p>
<p class="MsoListParagraph" style="margin-left:24px;line-height:22px;vertical-align:baseline">
    <span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">3.<span style="font-variant-numeric: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp;&nbsp;&nbsp; </span></span><span style=";font-family:&#39;微软雅黑&#39;,sans-serif;color:#343434">审核通过后按照提示填写个人介绍、约会介绍等信息。</span>
</p>
<p>
    <br/>
</p>
</body>
</html>